.App {
  text-align: center;
}

.logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.pagination-link--wide {
	text-decoration: none;
	color: var(--colors-text);
	padding: 0.1em 1.6em;
  float: right;
}

.pagination-link--wide:hover {
	color: var(--colors-ui-base);
}

.pagination-link--wide.first:before,
.pagination-link--wide.last:after {
  font-family: 'entypo';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.pagination-link--wide.first::before {
	content: "\E765";
	margin-right: 0.5em;
}

.pagination-link--wide.last::after {
	content: "\E766";
	margin-left: 0.5em;
}